body{
  background-image: linear-gradient(
  170deg,rgb(170, 218, 190),rgb(60, 60, 202),teal);
  width: 100%;
  height: 300vh;
}
.header{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  background: none;
  position: fixed;
}
.header h5{
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;

}
.container{
  position: absolute;
  margin-top: 15%;
  margin-left: 32%;
  display: block;

}
.header-bg h5{
  margin-top: 10px;
}
.contet{
  position:absolute;
  margin-top: 100%;
}
.header-bg{
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  background-color: rgb(193, 208, 236);
  transition: .5s;
}
.footer{
  position: absolute;
  background-color: azure;
  margin-top: 290vh;
  height: 70px;
  width: 100%;
}
.gambiarra{
  position: absolute;
  margin-top:100vh;
}
a h5:hover{
  color: rgb(185, 189, 189);
}


.about-me{
  margin-top: 58%;
  position: absolute;
}
.ftr{
  color: black;
}


footer{
  font-size: 50px;
  display: flex;
  height: 30px;
  margin-left: 10%;
  justify-content: space-around;
}

footer a{
 margin-left: 10px;
 margin-right: 10px;
 cursor: pointer;
 text-decoration: none;
}
@media(max-width:620px){
  .footer{
   margin-top: 380vh;
  }

}
